body{
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}
p{
  font-size: 15px;
}
h1{
  font-size: 20px;
}
#main{
  width: 75%;
  margin:auto;
}
#by_category{
  width: 75%;
  margin: auto;
}
#container1{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px 60px;
}
#container1>.card{
  text-align: center;
}
#container1>.card>img{
  width: 100%;
}
#by_category>h1{
  font-size: 20px;
}
#by_category>p{
  font-size: 15px;
  margin-top: -10px;
}
#deal>img{
  width: 100%;
  border-radius: 15px;
}
.carousel {
  display: block;
  }
.carousel-cell{
  width: 20%; 
  height: 300px; 
  margin-right: 20px;
}
.carousel-cell>img{
  width: 100%;
  border-radius: 15px;
  }
.carousel-cell>h1{
  font-size: 15px;
}
.carousel-cell:nth-child(6){
  background-color: #FAF7F2;
  color: #D11243;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
}
#fresh>div{
  display: flex;
  justify-content: flex-start;
}
#fresh>div>img{
  width: 230px;
  margin-right: 20px;
  border-radius: 15px;
}
.offer-carousel-cell{
  width: 30%; 
  margin-right: 20px;
}
.offer-carousel-cell>img{
  width: 100%;
  border-radius: 15px;
}
#offers{
  margin-top: 50px  ;
}

#searchCont>h1,#searchCont>p{
  grid-column-start: 1;
  grid-column-end: 3;
}
#searchCont>h1{
  font-size: 25px;
}
#searchCont>p{
  margin-top: -25px;
}
#searchCont{
  width: 70%;
  margin: 20px auto;
  grid-template-columns: repeat(2,1fr);
  gap: 10px 30px;
}
#searchCont>div{
  display: flex;
  padding: 10px 0px;
  border-bottom: #d8d8d8 1px solid;
}
#searchCont>div>div:nth-child(1){
  width: 80px;
  height: 75px;
  margin-right: 10px;
}
#searchCont img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#searchCont>div>div>p{
  margin-top: 0px;
}
#searchCont>div>div{
  width: 100%;
}
#searchCont>div>div>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchCont>div>div>div>button{
  background-color: #fff;
  font-size: 8px;
  font-weight: bold;
  color: #D11243;
  border: 1px solid #D11243;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}
/* --------------------------------------------------------------------------- */

#priceDiv{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  /* border: #D11243 2px solid; */
}
#priceDiv button{
  margin-right: 10px;
  background-color: white;
  /* padding: 5px; */
  font-size: 20px;
  font-weight: bold;
  /* font-weight: ; */
  border: #D11243 2px solid;
  border-radius: 10px;
  color: #D11243;
  padding: 0px 10px;
}
#priceDiv h4{
margin: 0px
}

body div img:hover{
  cursor: pointer;
}

.carousel-cell p{
  font-size: 12px;
  margin-bottom: -15px;
  margin-top: 40px;
}
/* .carousel-cell h1{
  margin-bottom: 50px;
} */
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
/* 
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.flickity-button-icon {
  fill: white;
}
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
} */

/* --------------------------------------------------------------------------------------------------------------------- */


/* body>div:not(#login-panel){
  filter: blur(8px);
}
nav{
  filter: blur(8px);
} */