body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 75%;
    margin: auto;
}
img{
    width: 100%;
}
#top{
    display: flex;
    gap: 20px;
    font-size: small;
}
#top>div{
    width: 50%;
}
#top>div:nth-child(1){
    display: flex;
    justify-content: center ;
    /* border: 2px solid red; */
}
#top>div>img{
    width: 80%;
    border-radius: 20px;
    align-self: flex-start;
    margin-top: 20px;
}
#contents{
    padding: 5px 10px;
    border: 1px solid #c6c3c3;
    border-radius: 5px;
}
#contents>div{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
#contents>div>div{
    display: flex;
    min-width: 200px;
    padding: 0px 5px;
    align-items: center;
}
#contents>div>div:nth-child(2){
justify-content: flex-end;
}
#contents>div>div>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#price{
    padding-left: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
#price>h1{
    color: #D11243;
}
#price>button{
    height: 35px;
    align-self: center;
    background-color: #D11243;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 0px 15px;
}