nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
    background-color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}
nav>div{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
nav>div>a>img{
    height: 100%;
}
nav>div>div:not(#location){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#location{
    margin-top: 10px;
}
#location>p{
    font-size: 12px;
    margin-top: -10px;
    margin-left: 15px;
}
#location>div{
    display: flex;
    font-size: 15px;
    justify-content: left;
}
#location>div>img{
  width: 10px ;
}
#location>div>img, #location>div>p{
    margin-right: 5px;
}
#input{
    align-self: center;
    width: 300px;
    background-image: url("https://www.licious.in/image/search_venus_icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid #e7e7e7;    
    background-color: #f8f8f8;
    color:rgba(31, 31, 31, 0.6);
    border-radius: 4px;
    padding: 6px 12px;
    height: 20px;
    cursor: pointer;
}

nav>div>div>img{
    height: 15px;
}
nav>div>div>p{
    font-size: 15px;
    margin-left: 10px;
}
nav>div:hover{
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 95%;
    left: 50%;
    padding: 20px;
    background-color: white;
    /* min-width: 250px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    /* gap: 20px; */
}
.dropdown:hover .name {
    color: #d11243;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  .dropdown-content>div {
    /* border: 2px solid red; */
    min-width: 280px;
    max-height: 550px;
    overflow-y: scroll;
    /* overflow: hidden; */
  }
  #left::-webkit-scrollbar{
    display: none;
  }
  #right::-webkit-scrollbar{
    display: none;
  }
  #left>div{
    display: flex;
    /* border: 2px solid green; */
    border-bottom: #ecebeb 1px solid;
    padding: 5px;
    align-items: center;
  }
  #left img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  #right{
    background-color: #f1f1f1;
    margin-left:200x ;
    /* display: block; */
    /* position: absolute; */
    /* left: 100px; */
    /* z-index: 1; */
  }
  #right>div{
    height: 40px;
    border-bottom: #c7c6c6 1px solid;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  #right>div>p{
    margin-left: 20px;
  }

  #left>div:hover{
    background-color: #f1f1f1;
    font-weight: bold;
  }
  #right>div:hover{
    background-color:white;
    font-weight: bold;  
  }

  #cart{
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
  }